*{
	padding:0px;
	margin:0px;}
.box{
	width:100%;
	height:1000px;
	background:no-repeat center center fixed;
	overflow:hidden;}
.box1{
	background-image: url(../img/h-12.jpg);}
.box2{
	background-image: url(../img/h-8.jpg);}	
.box3{
	background-image: url(../img/h-13.jpg);}	
.box4{
	background: url(../img/bg.png) no-repeat center center;
	background-color: #666666;}	
.box5{
	background-image: url(../img/h-24.jpg);}	
.box6{
	background-image: url(../img/h-21.jpg);}
body{
	font-family:"微软雅黑";}	
.box1 .text h2{
	font-weight:400px;
	font-size:36px;
	color:#333;
	line-height:1.6em;}	
.box1 .text p{
	font-size:16px;
	color:#333;
	line-height:1.8em;
	margin-top:25px;}
.box1 .text a{
	font-size:16px;
	color:#ff6700;
	text-decoration:none;}
.box1 .text{
	margin-left:20%;
	margin-top:20%;}
.box1 .text .price{
	color:#F00;
	font-size:14px;}
.box1 .text .price span{
	font-size:36px;}
.box2 .text h2{
	font-weight:400px;
	font-size:36px;
	color: #FFFFFF;
	line-height:1.6em;
	text-align:right;}	
.box2 .text p{
	font-size:16px;
	color:#FFFFFF;
	line-height:1.8em;
	margin-top:25px;
	text-align:right;}	
.box2 .text a{
	font-size:16px;
	float:right;
	margin-right:200px;
	color:#ff6700;
	text-decoration:none;}	
.box3 .text h2{
	font-weight:400px;
	font-size:36px;
	color: #333;
	line-height:1.6em;
	text-align: center;
	margin-top:200px;}	
.box3 .text p{
	font-size:16px;
	color:#333;
	line-height:1.8em;
	margin-top:25px;
	text-align: center;}	
.box3 .text a{
	font-size:16px;
	margin-left:600px;
	color:#ff6700;
	text-decoration:none;}	
.box4 .text h2{
	font-weight:400px;
	font-size:36px;
	color:#FFFFFF;
	line-height:1.6em;
	text-align: center;}	
.box4 .text p{
	font-size:16px;
	color:#FFFFFF;
	line-height:1.8em;
	margin-top:25px;
	text-align: center;}	
.box4 .text a{
	font-size:16px;
	margin-left:600px;
	color:#ff6700;
	text-decoration:none;}
.box5 .text h2{
	font-weight:400px;
	font-size:36px;
	color:#333;
	line-height:1.6em;
	margin-left:200px;
	margin-top:100px;}	
.box5 .text p{
	font-size:16px;
	color:#333;
	line-height:1.8em;
	margin-top:25px;
	margin-left:200px;}	
.box5 .text a{
	font-size:16px;
	margin-left:200px;
	color:#ff6700;
	text-decoration:none;}
.box6 .text h2{
	font-weight:400px;
	font-size:36px;
	color:#333;
	line-height:1.6em;
	margin-left:400px;
	margin-top:100px;}	
.box6 .text p{
	font-size:16px;
	color:#333;
	line-height:1.8em;
	text-align:center;
	margin-top:25px;}	
.box6 .text a{
	font-size:16px;
	margin-left:20px;
	color:#ff6700;
	text-decoration:none;}																		
																		
		

